{% extends "base.html" %}

{% block content %}

    {% block album_details %}
        <section class="album-details">
            <!-- Album Details Here -->
        </section>
    {% endblock album_details %}

    {% block album_tracks %}
        <section class="album-tracks">
            <!-- Album Tracks Here -->
        </section>
    {% endblock album_tracks %}

    <div class="album-details">
        <!-- Album Details Here -->
    </div>

    <div class="album-tracks">
        <!-- Album Tracks Here -->
    </div>

{% endblock content %}
