{% extends "base.html" %}

{% block content %}
    <section class="user-collections">
        <!-- User's Collections Here -->
        <div class="user-collections">
            <div class="collection">
                <h3>User Collection 1</h3>
                <!-- Collection Content for User 1 -->
            </div>
    
            <div class="collection">
                <h3>User Collection 2</h3>
                <!-- Collection Content for User 2 -->
            </div>
    
            <!-- Add more collection divs for additional users -->
    
            <!-- ... (other content) ... -->
        </div>
    </section>

{% endblock %}