{% extends "base.html" %}

{% block content %}
<div class="flex justify-center">
    <section>
        {% if request.user.is_authenticated %}
            <h2>Hello {{ request.user.username }}</h2>
        {% else %}
            <h2>Welcome, Guest!</h2>
        {% endif %}
        
        <h2>Featured Music</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            {% for track in featured_tracks %}
            <div class="border p-4 rounded">
                <div class="text-center">
                    <img src="{{ track.album_image }}" alt="{{ track.album_name }}" style="width: 200px; height: 100px;">
                </div>
                <div class="text-center mt-2">
                    <h2 class="text-green-600">{{ track.name }}</h2>
                    <h3>By <strong>{{ track.artist_name }}</strong></h3>
                    <h3>From the album <em>{{ track.album_name }}</em></h3>
                    <p>Popularity: {{ track.track_popularity }}</p>
                    {% if user.is_authenticated %}
                        <button onclick="playSong('{{ track.preview_url }}', '{{ track.name }}', '{{ track.artist_name }}','{{track.album_image}}')" class="bg-gray-600 border border-green-700 hover:bg-green-700 text-white font-bold py-1 px-2 rounded">
                            Play
                        </button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>        
    </section>

    <!-- Recommended section can remain unchanged if you're using it. Otherwise, remove or update it accordingly -->
</div>
{% endblock %}
