<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
      .container-fluid-xxl{
        background-image: url(images/aaaa2.png);
      }
      .d-block{
        padding: 67px;
      }

    

.nav-item a {
    color: black; /* Set the text color to black */
    font-size: 30px;
}
.nav-container{
  background-color: #C57754;
}
.btn{
  color: whitesmoke;
  font-size: 30px;
}
.text h1{
  padding: 40px;
}


      
    </style>
</head>
<body>
  <div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light">

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 "> 
                    <a class="navbar-brand" href="#">
                        <img src="images/Vector.png" alt="My Site Logo">
                    </a>
                </div>
                <div class="col-md-7">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Personalized</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">Profile</a>
                    </li>
                  </ul>
              </div>
              
                <div class="col-md-2 ">
                    <div class="nav-item">
                      <button type="button" class="btn">Register</button>
                    </div>
                </div>
            </div>
        </div>
      </nav>
    </div>

<div class="container-fluid-xxl">
  <div class="row">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="text">
            <h1 style="font-size: 80px;">Let's explore the
              <br> world of the music</h1>
          </div>
         
           
        </div>
        <div class="col-md-6">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="images/bbbb.png" class="d-block w-55" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="images/cccc.png" class="d-block w-55" alt="...">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

    </div>
    
</body>
</html>
